 <% if @book.errors.any? %>
   <%= @book.errors.count %>errors prohibited this obj from being saved
   <ul>
     <% @book.errors.full_messages.each do |message| %>
       <li><%= message %></li>
     <% end %>
   </ul>
 <% end %>


<div>
  <h2>User info</h2>
  <%= image_tag @current_user.get_profile_image(100,100) %>
  <table class="table">
    <tr>
      <th>name</th>
      <th><%= @current_user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= @current_user.introduction %></th>
    </tr>
  </table>

  <% if @current_user == current_user %>
    <p><%= link_to "プロフィール編集", edit_user_path(@current_user) %></p>
  <% end %>

 <h2>New book</h2>
 <%= form_with model: @book do |f| %>
   <h4>Title</h4>
   <%= f.text_field :title %>
   <h4>Opinion</h4>
   <%= f.text_area :body %>
   <%= f.submit 'Create Book' %>
 <% end %>
</div>



<div>
 <h2>Books</h2>
 <table class= "table book">
   <thead>
     <tr>
       <th></th>
       <th>Title</th>
       <th>Opinion</th>
       <th colspan="3"></th>
     </tr>
   </thead>
   <tbody>
    <% @books.each do |book| %>
     <ty>
       <td>
         <%= image_tag book.user.get_profile_image(100,100) %>
       </td>
       <td>
        <%= link_to book.title, book_path(book.id) %>
       </td>
       <td>
        <%= book.body %>
       </td>
     </ty>
    <% end %>
   </tbody>
 </table>
</div>