<%= render 'lists', locals: { book: @book, current_user: @current_user, user: @user } %>


  <div class="col-md-8 offset-md-1">
   <h2>Book detail</h2>
    <table class="table">
     <tbody>
      <tr>
        <td>
          <%= image_tag @books.user.get_profile_image(100,100) %><br>
          <%= link_to @books.user.name, user_path(@books.user) %>
        </td>
        <td>
          <%= link_to @books.title, book_path(@books) %>
        </td>
        <td>
          <%= @books.body %>
        </td>
      <% if @books.user == current_user %>
        <td>
          <%= link_to "Edit", edit_book_path(@books) %>
        </td>
        <td>
          <%= link_to "Destroy", book_path(@books), method: :delete, "data-confirm" => "本当に削除しますか？" %>
        </td>
      <% end %>
      </tr>
     </tbody>
   </table>
  </div>
 </div>
</div>